name: Deploy API

on:
    push:
        branches:
            - main
    release:
        types: [published]

permissions:
    id-token: write
    contents: read

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: 20

            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v2
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-region: us-east-1

            - name: Setup SAM
              uses: aws-actions/setup-sam@v2

            - name: Install Dependencies
              run: npm install

            - name: SAM Build
              run: sam build

            - name: Deploy to DEV
              if: github.event_name == 'push'
              run: |
                  sam deploy \
                    --stack-name cards-api-dev \
                    --parameter-overrides Env=dev AuthToken=${{ secrets.AUTH_TOKEN_DEV }} WafHeaderName=${{ secrets.WAF_HEADER_NAME }} WafHeaderValue=${{ secrets.WAF_HEADER_VALUE }} \
                    --capabilities CAPABILITY_IAM \
                    --resolve-s3 \
                    --no-confirm-changeset \
                    --no-fail-on-empty-changeset

            - name: Deploy to PROD
              if: github.event_name == 'release'
              run: |
                  sam deploy \
                    --stack-name cards-api-prod \
                    --parameter-overrides Env=prod AuthToken=${{ secrets.AUTH_TOKEN_PROD }} WafHeaderName=${{ secrets.WAF_HEADER_NAME }} WafHeaderValue=${{ secrets.WAF_HEADER_VALUE }} \
                    --capabilities CAPABILITY_IAM \
                    --resolve-s3 \
                    --no-confirm-changeset \
                    --no-fail-on-empty-changeset
